<form {{action "authenticate" on="submit"}}>
  <label>Login
    {{input placeholder="Enter User Name"
            value=identification
            data-test-selector="identification"}}
  </label>

  <label>Password
    {{input placeholder="Enter Password"
            type="password"
            value=password
            data-test-selector="password"}}
  </label>

  <button data-test-action="login" type="submit">Login</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>
