<form {{action (perform login) on="submit"}}>
  <label for="identification">Login</label>
  <input id="identification" placeholder="Enter Login" value={{identification}} data-test-selector="username" />
  <label for="password">Password</label>
  <input id="password" placeholder="Enter Password" type="password" value={{password}} data-test-selector="password" />
  <button data-test-action="login" type="submit">Login</button>
  {{#if errorMessage}}
    <p data-test-error="login">{{errorMessage}}</p>
  {{/if}}
</form>
